In [5]:
import requests
import pandas as pd

In [6]:
base_url = "https://gutendex.com/books"
url = f"{base_url}?author_year_start=2000"
response = requests.get(url)
data = response.json()

In [2]:
autor = []
autor_nacimiento = []
autor_muerte = []
libro = []
genero = []
download_count = []


for i in range(0,32):
    autor.append(data["results"][i]["authors"][0]["name"])
    autor_nacimiento.append(data["results"][i]["authors"][0]["birth_year"])
    autor_muerte.append(data["results"][i]["authors"][0]["death_year"])
    libro.append(data["results"][i]["title"])
    #genero.append(data["results"][i]["bookshelves"])
    download_count.append(data["results"][i]["download_count"])

df = pd.DataFrame({"autor":autor,"nacimiento":autor_nacimiento
                ,"muerte":autor_muerte,"titulo":libro,"download_count":download_count})

In [3]:
df.head()

,autor,nacimiento,muerte,titulo,download_count
0,"Vonnegut, Kurt",1922,2007,2 B R 0 2 B,3341
1,"Hunter, Evan",1926,2005,Reaching for the moon,1545
2,"Harrison, Harry",1925,2012,The stainless steel rat,1382
3,"Marlowe, Stephen",1928,2008,Fugue,1005
4,"Vonnegut, Kurt",1922,2007,The Big Trip Up Yonder,775

In [7]:
df.sort_values(by="download_count", ascending=False)

,autor,nacimiento,muerte,titulo,download_count
0,"Vonnegut, Kurt",1922,2007,2 B R 0 2 B,3341
1,"Hunter, Evan",1926,2005,Reaching for the moon,1545
2,"Harrison, Harry",1925,2012,The stainless steel rat,1382
3,"Marlowe, Stephen",1928,2008,Fugue,1005
4,"Vonnegut, Kurt",1922,2007,The Big Trip Up Yonder,775
5,"Pohl, Frederik",1919,2013,The Tunnel Under the World,530
6,"Smoot, Dan",1913,2003,The Invisible Government,504
7,"Harrison, Harry",1925,2012,Deathworld,487
8,"Harrison, Harry",1925,2012,The stainless steel rat,391
9,"Coppel, Alfred",1921,2004,The terror,344
10,"Keller, W. D.",1900,2001,The Common Rocks and Minerals of Missouri,329
11,"Van Vogt, A. E. (Alfred Elton)",1912,2000,The expendables,315
12,"Norton, Andre",1912,2005,All Cats Are Gray,298
13,"Sheckley, Robert",1928,2005,Ask a Foolish Question,294
14,"Norton, Andre",1912,2005,The Time Traders,285
15,"Farmer, Philip José",1918,2009,Daughter,230
16,"Harrison, Harry",1925,2012,Planet of the Damned,222
17,"Bradbury, Ray",1920,2012,The shape of things,219
18,"Norton, Andre",1912,2005,Star Born,211
19,"Farmer, Philip José",1918,2009,They Twinkled Like Jewels,206
20,"Bradbury, Ray",1920,2012,A Little Journey,191
21,"Sheckley, Robert",1928,2005,Watchbird,182
22,"Norton, Andre",1912,2005,Plague Ship,169
23,"Anderson, Poul",1926,2001,Industrial Revolution,169
24,"Wirt, Mildred A. (Mildred Augustine)",1905,2002,Behind the Green Door,168
25,"Smith, Evelyn E.",1922,2000,Helpfully Yours,164
26,"Harrison, Harry",1925,2012,The Misplaced Battleship,163
27,"Harrison, Harry",1925,2012,The Repairman,155
28,"Sheckley, Robert",1928,2005,The Status Civilization,154
29,"Bradbury, Ray",1920,2012,Lorelei of the Red Mist,150
30,"Bradbury, Ray",1920,2012,Zero Hour,147
31,"Norton, Andre",1912,2005,Storm Over Warlock,146