In [1]:
import requests
import pandas as pd
import psycopg2
import json
from redshift_utils import cargar_en_redshift,conn_redshift

In [2]:
base_url = "https://gutendex.com/books"
url = f"{base_url}?author_year_start=2000"
response = requests.get(url)
data = response.json()

In [3]:
autor = []
autor_nacimiento = []
autor_muerte = []
libro = []
genero = []
download_count = []

for i in range(0,32):
    autor.append(data["results"][i]["authors"][0]["name"])
    autor_nacimiento.append(data["results"][i]["authors"][0]["birth_year"])
    autor_muerte.append(data["results"][i]["authors"][0]["death_year"])
    libro.append(data["results"][i]["title"])
    #genero.append(data["results"][i]["bookshelves"])
    download_count.append(data["results"][i]["download_count"])

df = pd.DataFrame({"autor":autor,"año_nacimiento":autor_nacimiento
                ,"año_muerte":autor_muerte,"titulo":libro,"download_count":download_count})

df.sort_values(by="download_count", ascending=False, inplace=True)

In [4]:
df.head()

,autor,año_nacimiento,año_muerte,titulo,download_count
0,"Vonnegut, Kurt",1922,2007,2 B R 0 2 B,3341
1,"Hunter, Evan",1926,2005,Reaching for the moon,1545
2,"Harrison, Harry",1925,2012,The stainless steel rat,1382
3,"Marlowe, Stephen",1928,2008,Fugue,1005
4,"Vonnegut, Kurt",1922,2007,The Big Trip Up Yonder,775

In [5]:
conn_db_coder = conn_redshift(".env/pwd_coder.txt")
cargar_en_redshift(conn=conn_db_coder, table_name="books",dataframe=df)

Connected to Redshift successfully!
Proceso terminado